*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainbox{
    margin:10px;
    border:2px solid black;
    height:400px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    box-shadow: 5px 5px 5px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 25px;
    width:300px;
    height:300px;
    background-color: azure;
    
}


.circle{
    background-color: #007bff;
    width:100px;
    height:100px;
    border-radius:50%;
    margin-top: 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.hname{
    color: white;
}

h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

