*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainbox{
    margin:10px;
    border:2px solid black;
    height:400px;
    background-color:rgb(239, 179, 179);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    box-shadow: 5px 5px 5px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    width:300px;
    height:300px;
    background-color: azure;   
    position: relative; 
    flex-direction: column;
    
}


.circle{
    background-color: #007bff;
    width:100px;
    height:100px;
    border-radius:50%;
    margin-top: 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    position: relative;
}

.hname{
    color: white;
}

h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name{
    margin: 20px;
    text-align: center;
    
}

p{
    font-size: larger;
    text-align: center;
    color:rgb(13, 193, 64)
}